%h1 Irmingard
#frame
  #container
    #column_1.columns.snapper.active
      \ 
    #column_2.columns.snapper.active
      \ 
    #column_3.columns.snapper.active
      \ 
    #column_4.columns.snapper.active
      \ 
    #column_5.columns.snapper.active
      \ 
    #column_6.columns.snapper.active
      \ 
    #column_7.columns.snapper.active
      \ 
    #column_8.columns.snapper.active
      \ 
    #column_9.columns.snapper.active
      \

-#%span#start_pos
-#%br/
-#%span#current_pos
-#%br/
-#%span#end_pos
-#%br/
-#%br/
